<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF8">
    <title>SocialMediaSpamDetection</title>
     
<link rel="stylesheet" href="/static/index.css">

</head>
<body>
  <video src="/static/GivingBelatedDingo.mp4"class="video.bg"autoplay loop muted></video>
  <header>
    <div class="header">
      <nav class="navigation">
        <a href="#" class="navbar-logo">SocialMediaSpamDetection</a>
        <div class="cards-container">
          <div class="card">
            <button class="logo-button">
              <a href="/facebookloginpage.html">
              <img class="facebook-logo" src="/static/FACEBOOK111.png" alt="Facebook" >     
              </a>
              
            </button>
          </div>
          <div class="card">
      <button class="logo-button">
        <a href="/instagramloginpage.html">
        <img class="instagram-logo" src="/static/INSTALOGO.jfif" alt="Instagram">
      </a>
      </button>
    </div>
    <div class="card">
      <button class="logo-button">
        <a href="/twitterloginpage.html">
        <img class="twitter-logo"  src="/static/TWITTERRR.png" alt="Twitter">
        </a>
      </button>
    </div>
  </div>
</body>
</html>






