<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/instagram.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <title>InstagramDashboard</title>

    <body>
      <video
        src="/static/GivingBelatedDingo.mp4"
        class="video.bg"
        autoplay
        loop
        muted
      ></video>

      <header>
        <div class="header">
          <nav class="navigation">
            <a href="/#" class="navbar-logo">Instagram</a>

            <div class="navbar-right">
              <a href="/index.html">home</a>
              <a href="/instagramloginpage.html">login</a>
              <a href="/Contactuspage.html">Contact</a>
              <a href="/myprofile.html">myprofile</a>

              <div class="card-container">
                <div class="card">
                  <img
                    src="/static/INSTAGRAMLOGO.png"
                    alt="Twitter Animated Icon"
                  />
                  <h2>Followers 456</h2>
                  <p></p>
                  <div class="progress-bar">
                    <div class="progress"></div>
                  </div>
                </div>

                <div class="card">
                  <img
                    src="/static/INSTAGRAMLOGO.png"
                    alt="Twitter Animated Icon"
                  />

                  <h2>Followings 456</h2>
                  <p></p>

                  <div class="progress-bar">
                    <div class="progress"></div>
                  </div>
                </div>

                <div class="card">
                  <img
                    src="/static/INSTAGRAMLOGO.png"
                    alt="Twitter Animated Icon"
                  />
                  <h2>Posts</h2>
                  <p></p>

                  <div class="progress-bar">
                    <div class="progress"></div>
                  </div>
                </div>

                <div class="card">
                  <img
                    src="/static/INSTAGRAMLOGO.png"
                    alt="Twitter Animated Icon"
                  />
                  <h2>Profile</h2>
                  <h2 class="logo"></h2>
                  <p></p>
                  <div class="progress-bar">
                    <div class="progress"></div>
                  </div>
                </div>
              </div>

              <form
                action="/instagram.html"
                method="POST"
                enctype="multipart/form-data"
              >
                <label for="cars">Choose a car:</label>

                <input type="file" name="file" accept=".csv" required />

                <select name="model" id="model">
                  <option value="dt">Random Forest</option>
                  <option value="knn" selected>KNN</option>
                  <option value="svm">SVM</option>
                </select>
                <br /><br />
                <input type="submit" value="Submit" />
              </form>

              <table class="grid-container">
                <tr class="attribute-row">
                  <th>heading</th>
                  <th>Profile-pic</th>
                  <th>Username length</th>
                  <th>Fullname-words</th>
                  <th>Fullname-Lenght</th>
                  <th>Username</th>
                  <th>Description-lenght</th>
                  <th>External URL</th>
                  <th>Private</th>
                  <th>#Posts</th>
                  <th>#Followers</th>
                  <th>Followings</th>
                  <th>Fake</th>

                  <!-- Add the remaining attribute headers -->
                </tr>
                <tr class="data-row">
                  <td>count</td>
                  <td>696.000000</td>
                  <td>696.000000</td>
                  <td>696.000000</td>
                  <td>696.000000</td>
                  <td>696.000000</td>
                  <td>696.000000</td>
                  <td>696.000000</td>
                  <td>696.000000</td>
                  <td>696.000000</td>
                  <td>696.000000+02</td>
                  <td>696.000000</td>
                  <td>696.000000</td>
                </tr>
                <tr class="data-row1">
                  <td>mean</td>
                  <td>0.711207</td>
                  <td>0.1666909</td>
                  <td>1.475575</td>
                  <td>0.042190</td>
                  <td>0.35920</td>
                  <td>23.412356</td>
                  <td>0.113506</td>
                  <td>0.369253</td>
                  <td>103.244253</td>
                  <td>7.914991e+04</td>
                  <td>555.086207</td>
                  <td>0.500000</td>
                </tr>

                <tr class="data-row2">
                  <td>std</td>
                  <td>0.453527</td>
                  <td>0.218964</td>
                  <td>1.076622</td>
                  <td>0.143664</td>
                  <td>0.186223</td>
                  <td>38.595721</td>
                  <td>0.317438</td>
                  <td>0.482950</td>
                  <td>378.028168</td>
                  <td>8.428875e+05</td>
                  <td>1023.613869</td>
                  <td>0.50036</td>

                  <!-- Add the remaining data cells -->
                </tr>

                <!-- <div class="container">
                  <a href="">
                    <input type="file" id="csvFileInput" />
                    <button id="csvButton">sumbit</button>
                  </a>
                </div> -->

                <html>
                  <head>
                    <style>
                      .add-button {
                        position: fixed;
                        top: 10px;
                        left: 10px;
                        z-index: 9999;
                        padding: 10px;
                        background-color: #f2f2f2;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                      }
                    </style>
                  </head>
                  <body>
                    <button class="add-button">Add Excel Sheet</button>
                  </body>
                </html>
              </table>

              <form action="/download" method="GET">
                <button type="submit">Download Excel</button>
              </form>

              {{data|safe}}
            </div>
          </nav>
        </div>
      </header>
    </body>
  </head>
</html>
