<!DOCTYPE html>
<html>
<head>
    <video src="/static/GivingBelatedDingo.mp4"class="video.bg"autoplay loop muted></video>
  

    
  <title>InstagramLogin-Page</title>
  <link rel="stylesheet" type="text/css" href="/static/instagramloginpage.css">
</head>
<body>

    <div class="header">
        <nav class="navigation">
          <a href="#" class="navbar-logo">Instagramlogin</a>
  
         
  <div class="container">
    <form class="login-form" action="instagram.html">
      <input type="text" placeholder="Username">
      <input type="password" placeholder="Password">
      
      <button type="submit" >Log in </button>
     
      
      <p class="message">Not registered? <a href="/register.html">Create an account</a></p>
      <p class="message">Forgot password? <a href="/Forgotpass.html">help!</a></p>      
    </form>
  </div>
</body>
</html>
