
<!DOCTYPE html>
<html>
<head>
  <title>Myprofile page</title>
  <link rel="stylesheet" type="text/css" href="/static/myprofile.css">
</head>

<body>
  <video src="/static/GivingBelatedDingo.mp4"class="video.bg"autoplay loop muted></video>
  

  <div class="header">
    <nav class="navigation">
      <a href="#" class="navbar-logo"></a>
      
      <div class="navbar-right">
        <a href="/twitter.html">home</a>
        <a href="/">login</a>
        <a href="#">Contact</a>
        <a href="/myprofile.html">myprofile</a>

        <div class="container">
          <div class="profile-image"></div>
          <div class="profile-info">
            <form>
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your username">
              </div>
              <div class="form-group">
                <label for="dp">Profile Picture:</label>
                <input type="file" id="dp" name="dp">
              </div>
              <div class="form-group">
                <label for="bio">Bio:</label>
                <textarea id="bio" name="bio" placeholder="Enter your bio"></textarea>
              </div>
              <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email address">
              </div>
              <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" placeholder="Enter your phone number">
              </div>
              <button type="submit">Update</button>
            </form>
  
  
</body>
</html>
